tool:
  # Has the model undergone targeted training on tool_calls
  support_tool_calls: true

# Cloud Server Infos
model:
  # Model name for the cloud server
  model_select: "/workspace/model/BAAI/RoboBrain2.0-7B"
  # Number of retries for planning
  model_retry_planning: 5
  model_dict:
    # Model name for the cloud server
    cloud_model: "/workspace/model/BAAI/RoboBrain2.0-7B"
    # Deploy for the cloud server
    cloud_type: "default"
    # API key for the cloud server
    cloud_api_key: "EMPTY"
    # URL of the cloud server
    cloud_server: "http://localhost:4567/v1/"
    # Maximum number of chat messages to keep in memory
    max_chat_message: 50

# Collaborator Parameters
collaborator:
  # Hostname or IP address of the server
  host: "127.0.0.1"
  # Port number of the server
  port: 6379
  # database number
  db: 0
  # Whether clear the database on startup
  clear: false
  # Password for server
  password: ""

# Camera Parameters
camera:
  # Path to save camera images
  image_path: "images/"

# Robot 
robot:
  # "local" with a fold name such as "demo_robot"
  # "remote" with URL such as "http://127.0.0.1:8000", and run the Python script 'skill.py' on the robot itself.
  # call_type: local
  # path: "demo_robot_local"
  name: demo_robot
  call_type: remote
  path: "http://127.0.0.1:8000"

# mcp
mcp:
  URL: "http://127.0.0.1:8888"

# Output reasoning context, time cost and other information
profiling: true